---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import Counter from "@components/Counter.astro";
import counter from "@content/counter.json";
import { homepage } from "@content/homepage";
import Features from "@components/Features.astro";
---

<Layout>
  <section class="grid py-10 place-items-center text-center">
    <h1 class="sm:text-4xl text-3xl font-bold mb-6 dark:text-white">
      Hi, I'm Sam
    </h1>
    <p>I like to explore data, development, and design.</p>
  </section>
  <div class="chat chat-start">
    <div class="chat-header">
      Sam
      <time class="text-xs opacity-50">Just now</time>
    </div>
    <div class="chat-bubble">this site is under construction. c u soon.</div>
  </div>
  <!-- LISTGOESHERE {homepage.map((homepage) => <Features title={homepage.title} icon={homepage.icon} content={homepage.content} />)}
  <section class="py-20 sm:flex sm:items-center sm:justify-evenly text-center sm:text-left">
    {
      (
        <ul class="grid sm:grid-cols-3 gap-16">
          {counter.map((counter) => (
            <Counter number={counter.number} label={counter.label} />
          ))}
        </ul>
      )
    }
  </section>
  -->

  <Footer />
</Layout>
